* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.all {
	width: 100%;
	height: 100vh;
	display: flex;
}
@media (max-width: 1300px) {
	.all {
		display: block;
	}
}
.nav {
	width: 360px;
	height: 100vh;
	padding: 50px;
	opacity: 0.9;
	background-image: linear-gradient(135deg, #778899 30%, #000000);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 4px 4px 5px #000;
}
@media (max-width: 1300px) {
	.nav {
		width: 100%;
		height: 100px;
		padding: 10px 10px;
		display: flex;
		align-items: center;
	}
}
@media (max-width: 600px) {
	.nav {
		position: relative;
		z-index: 2;
	}
}
.container {
	flex-grow: 1;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(225deg, #000000 50%, #2f4f4f);
	opacity: 0.8;
}
@media (max-width: 1300px) {
	.container {
		width: 100%;
		height: calc(100vh - 100px);
	}
}
.content {
	width: 960px;
	height: 560px;
	display: flex;
	justify-content: space-between;
}
@media (max-width: 1360px) {
	.content {
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
@media (max-width: 1300px) {
	.content {
		width: 90%;
	}
}
@media (max-width: 600px) {
	.content {
		width: 100%;
		height: 100%;
	}
}
.img {
	width: calc((100% - 20px) / 3);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	box-shadow: 2px 4px 15px #fff;
	@media (max-width: 1360px) {
		.img {
			width: 100%;
			height: 100%;
		}
	}
	@media (max-width: 600px) {
		.img {
			width: 100%;
			height: 100%;
			background-size: auto;
		}
	}
}
.img-1 {
	background-image: url(../img/壽司怪獸.jpg);
}
@media (max-width: 1360px) {
	.img-1 {
		width: 100%;
		height: calc(50% - 10px);
	}
}
@media (max-width: 600px) {
	.img-1 {
		height: 33.3%;
		background-position: 0 -200px;
	}
}
.img-2 {
	background-image: url(../img/比薩怪獸.jpg);
}
@media (max-width: 1360px) {
	.img-2 {
		width: calc(50% - 10px);
		height: calc(50% - 10px);
	}
}
@media (max-width: 600px) {
	.img-2 {
		width: 100%;
		height: 33.3%;
		background-position: 0 -200px;
	}
}
.img-3 {
	background-image: url(../img/拉麵怪獸.jpg);
}
@media (max-width: 1360px) {
	.img-3 {
		width: calc(50% - 10px);
		height: calc(50% - 10px);
	}
}
@media (max-width: 600px) {
	.img-3 {
		width: 100%;
		height: 33.4%;
		background-position: 0 -200px;
	}
}
.img-1:hover {
	transform: scale(80%);
}
.img-2:hover {
	transform: scale(80%);
}
.img-3:hover {
	transform: scale(80%);
}
.nav-logo {
	width: 150px;
	height: 150px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: auto;
	margin-bottom: 50px;
	border-radius: 20px;
	box-shadow: 2px 6px 5px #000;
}
@media (max-width: 1300px) {
	.nav-logo {
		width: 80px;
		height: 80px;
		margin: 0;
	}
}
@media (max-width: 600px) {
	.nav-logo {
		position: absolute;
		top: calc(50% - 40px);
		left: calc(50% - 40px);
	}
}
.nav-all-btn {
	width: 200px;
	height: 500px;
	margin: auto;
}
@media (max-width: 1300px) {
	.nav-all-btn {
		width: 400px;
		height: 80px;
		margin-right: 0;
		display: flex;
	}
}
@media (max-width: 600px) {
	.nav-all-btn {
		display: none;
		width: 100px;
		height: 200px;
		margin-left: 2px;
		margin-top: 6px;
	}
}

.nav-btn {
	width: 200px;
	height: 80px;
	margin-bottom: 20px;
	font-size: 40px;
	color: #fff;
	text-align: center;
	background-image: linear-gradient(135deg, #4b5f80, #3f6148);
	line-height: 80px;
	opacity: 0.9;
	border-radius: 20px;
	box-shadow: 2px 5px 10px #000;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media (max-width: 1300px) {
	.nav-btn {
		width: calc((400px - 30px) / 3);
		height: 60px;
		font-size: 28px;
		padding: 0 10px;
		line-height: 60px;
		margin: 5px 5px;
	}
}
@media (max-width: 600px) {
	.nav-btn {
		width: 85px;
		font-size: 20px;
		text-align: center;
		border-bottom: 2px solid #000;
		background-image: linear-gradient(to bottom, #849271, #c1ae8d);
	}
}
a {
	text-decoration: none;
	color: #a4804c;
	text-shadow: 2px 4px 5px #000;
}
a:hover {
	color: #000;
}
a:active {
	font-size: 40px;
}
@media (max-width: 600px) {
	a {
		color: #49271b;
	}
	a:active {
		color: #fff;
		font-size: 25px;
	}
}
.nav-btn.nav-btn:hover {
	transform: scaleX(90%);
}
.nav-logo:hover {
	transform: scale(90%);
	transition: 0.5s;
}

@media (max-width: 600px) {
	.ham-btn {
		display: block;
		width: 60px;
		height: 60px;
		background-image: linear-gradient(135deg, #4b5f80, #3f6148);
		position: relative;
	}
	.ham-btn .line {
		width: 80%;
		height: 10px;
		background-color: black;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: 0.5s;
	}
	.ham-btn .line-1 {
		top: 25%;
	}
	.ham-btn .line-2 {
		top: 75%;
	}

	#ham-menu-switch:checked + .ham-btn .line-1 {
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	#ham-menu-switch:checked + .ham-btn .line-2 {
		display: none;
	}
	#ham-menu-switch:checked + .ham-btn .line-3 {
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	#ham-menu-switch:checked ~ .nav-all-btn {
		display: flex;
		flex-direction: column;
		z-index: 9;
	}
}
